/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

/* Header */
header {
    background-color: #0e0d0f;
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    padding-left: 10px;
}

#menu {
    list-style: none;
    text-transform: uppercase;
    padding-left: 10px;
}

#menu > li {
    margin-bottom: 10px;
    text-align: center;
}

.active {
    border-bottom: 1px solid white
}

nav {
    position: absolute;
    background-color: #0e0d0f;
    width: 100%;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #e20000;
    padding: 10px;
}

/* Main Content */
main {
    background-color: white;
    flex-grow: 1;
    margin-top: 64px;
}

#owner-image {
    width: 100%;
}

#title {
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #0e0d0f;
}

#box-red {
    background-color: #e20000;
    color: white;
}

#main-content {
    text-align: center;
    margin-bottom: 10px;
}

#one-step, #two-step, #three-step {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#main-content-wrapper h3 {
    color: #e20000;
    font-size: 200%;
}

#main-content-wrapper {
    padding: 0px 20px;
}

#icon {
    font-size: 2rem;
}

#address {
    text-align: right;
    padding-right: 10px;
    font-size: 80%;
    margin-bottom: 20px;
}

#time {
    padding-left: 10px;
    margin-top: 20px;
    font-size: 80%;
}

iframe {
    width: 100%;
    height: 150px;
}

#info {
    padding: 0px 10px;
}

/* Timetable Page Styling*/

table, th, td {
    border: 1px solid #0e0d0f;
    text-align: center;
    padding: 2px;
}

th {
    background-color: #e20000;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

table {
    border-collapse: collapse;
}

#timetable-image {
    background: url("../images/WhatsApp\ Image\ 2022-12-27\ at\ 13.06.06.jpeg") no-repeat center center/cover;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background-box {
    background-color: rgba(14, 13, 15, .6)
}

#timetable-color {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/*#class-2, #class-4, #class-6, #class-8 {
    text-align: right;
}*/

#class-descriptions {
    padding: 20px 10px;
}

#table-wrapper {
    overflow-x: auto;
    padding: 0px 10px;
}

/* Footer */
footer {
    background-color: #e20000;
    height: 4rem;
}

/* Styles for Social Media Icons */
#social-network {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 20px;
}

#social-network i {
    font-size: 180%;
    color: white
}

/* Media query: Tablets and larger screens from 768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-top: 10px;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu > li {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */
    #title {
        font-size: 150%;
    }

    #main-content, #main-content-wrapper {
        font-size: 100%;
    }

    #info {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        padding: 0px;
        align-items: baseline;
        font-size: 150%;
    }

    #main-content-wrapper {
        margin: 0px 10px;
        font-size: 15px;
    }

    #tablet-pc-container {
        display: flex;
    }

    #image-box {
        width: 50%;
    }

    #image-wording {
        width: 50%;
    }

    #info {
        padding: 0px 20px;
    }

    #one-step, #two-step, #three-step {
        margin-bottom: 0px;
        }

    #table-wrapper {
        padding: 0px 30px;
    }

    #class-descriptions {
        padding: 20px 30px;
    }
}

/* Media query: Tablets and larger screens from 992px and up */
@media screen and (min-width: 992px) {

    /* Header */
    a:hover {
        background-color: #e20000;
    }

    a:hover {
        color: black;
    }

    #title {
        font-size: 200%;
    }

    #image-wording {
        font-size: xx-large;
    }

    #main-content-wrapper {
        font-size: 40px;
    }

    #time, #address {
        font-size: 100%;
    }

    main {
        margin: 0px;
    }

    header {
        position: relative;
    }

    #timetable-image {
        height: 400px;
    }
 
       
    #table-wrapper {
        display: flex;
        justify-content: center;
    }

    #timetable-color {
        font-size: 3rem;
    }

    table {
        font-size: 20px;
    }

    table, th, td {
        padding: 10px;
    }

    #class-descriptions {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
    }

    #class-1, #class-2, #class-3, #class-4, #class-5, #class-6, #class-7, #class-8 {
        text-align: center;
        padding: 0px 20px;
    }

    #main-content {
        font-size: 1.5rem;
    }

    #main-content-wrapper {
        font-size: 2rem;
    }

    #icon {
        font-size: 3rem;
    }

}